<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up chat</title>
  </head>
  <body>
    <div class="chat-start-header">
      <h1>Sign in</h1>
    </div>
    <div class="start-chat">
      <form class="" action="/model/login.php" method="post">
        <label for="email">Your email</label>
        <input type="email" name="email" required>
        <label for="password">Your password</label>
        <input type="password" name="password" required>
        <input type="submit" name="Sign in" value="Sign in">
      </form>
    </div>

  </body>
</html>
