<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in chat</title>
    <link rel="stylesheet" href="../css/signUp.css">
  </head>
  <body>
    <div class="sign-up-header">
      <h1>Sign up</h1>
    </div>
    <div class="body-sign-up">
      <form class="form" action="/model/register.php" method="post">
        <label for="username">Your username</label>
        <input type="username" name="username" required>
        <label for="email">Your email</label>
        <input type="email" name="email" required>
        <label for="password">Your password</label>
        <input type="password" name="password" required>
        <input type="submit" name="Sign up" value="Sign up" class="button">
      </form>
    </div>

  </body>
</html>
