<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../css/welcome.css">
  </head>
  <body>
    <div class="content">
      <div class="welcome-header">
        <h1>Welcome to chat</h1>
      </div>
      <div class="welcome-body">
        <input type="button" name="Sign in" value="Sign in" id="button" onclick="location.href='sign_in.html'">
        <input type="button" name="Sign up" value="Sign up" id="button" onclick="location.href='sign_up.html'">
      </div>
    </div>
  </body>
</html>
