body{
  background-color: rgba(29, 153, 153, 0.05);
}
.content{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.welcome-header h1{
  color: #9a36ff;
  text-align: center;
  font-size: 30pt;

}

.welcome-body{
  width: 100%;
  height: 10%;
  position: absolute;
  text-align: center;
  top: 30%;
}

#button{
  cursor: pointer;
  width: 30%;
  height: 100%;

}
